# Required Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Reading a Dataset

In [7]:
d1= pd.read_csv(r'C:\Users\asalj\Downloads\sales_data_set.csv')
df_sales = pd.DataFrame(d1)

In [8]:
d2= pd.read_csv(r'C:\Users\asalj\Downloads\Features_data_set.csv')
df_features= pd.DataFrame(d2)

In [9]:
d3= pd.read_csv(r'C:\Users\asalj\Downloads\stores_data_set.csv')
df_stores= pd.DataFrame(d3)

# To Check Missing Values

In [11]:
df_sales.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [13]:
df_stores.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64

In [15]:
df_features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [18]:
df_features.

Store             45
Date             182
Temperature     4178
Fuel_Price      1011
MarkDown1       4023
MarkDown2       2715
MarkDown3       2885
MarkDown4       3405
MarkDown5       4045
CPI             2505
Unemployment     404
IsHoliday          2
dtype: int64

# Handling  Missing Values
Here, Sales and Stores datasets doesn't have missing value. But, the feature dataset have some missing values. Let's see, how to handle it. There are so many technique out there, I used here **Filling Values With Mean.**

In [21]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [37]:
df_features['MarkDown1']= df_features['MarkDown1'].interpolate(method='nearest')

In [38]:
df_features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1         92
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64